.container-up {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-up .back {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  gap: 20px;
}

.container-up .back .nav-buttons {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.container-up .back .nav-buttons:hover {
  background-color: #45a049;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container-up .back .nav-buttons:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 180, 97, 0.5);
}

.container-up .title_one {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  position: relative;
}

.container-up .title_one::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #4CAF50;
  margin: 8px auto 0;
  border-radius: 2px;
}

.filter-container {
  padding-left: 20px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.question_form {
  margin-left: 20px;
  margin-top: 20px;
}

.filter-container .create .create-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.filter-container .create .span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filter-container .create-question-form {
  margin-top: 20px;
}

.create-question-form label {
  display: block;
  margin-top: 10px;
}

.create-question-form input,
.create-question-form select {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.questions-container .question-container {}

.question-container {
  margin-left: 20px;
}

.question_form .answer-container {
  display: flex;
}

.container-for-questions {
  display: flex;
  gap: 20px;
}

.container-for-questions .column {
  flex: 1;
}

.container-for-questions .question-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.question-container p {
  margin: 0;
}

.question-container button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.question-container button:hover {
  background-color: #0056b3;
}
.container-for-questions .column .question-container  .text_category{
  font-size: 14px;
  font-weight: bold;
}
.container-for-questions .column .answer-container-left{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container-for-questions .column .answer-container-right{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container-for-questions .column .answer-container-left .select{
  display: flex;
  align-items: center;
}
.container-for-questions .column .select .circle-button{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
/* .container-for-questions .column .answer-container-right .select .circle-button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
} */
.container-for-questions .column .answer-container-right .select .circle-button .selected{
  background-color: #28a745;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}
.container-for-questions .column .answer-container-right .select{
  display: flex;
  align-items: center;
}