<div>
  <div class="container-up">
    <div class="title_one">
      Questions:
    </div>
    <div class="back">
      <div *ngIf="selected"><button class="nav-buttons" (click)="createQuiz()">Create Quiz</button></div>
      <div><button class="nav-buttons" (click)="navigateTo('/')">Home</button></div>
      <div><button class="nav-buttons" (click)="navigateTo('quizzes')">quizzes</button></div>
    </div>
  </div>
</div>
<div>
  <div class="filter-container">
    <div class="filter">
      Filter by category:
      <select>
        <option value="" disabled selected>--Please choose an option--</option>
        <option value="General Knowledge">General Knowledge</option>
        <option value="Science and Nature">Science and Nature</option>
        <option value="History">History</option>
        <option value="Sports">Sports</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Literature">Literature</option>
        <option value="Technology and Computers">Technology and Computers</option>
        <option value="Geography">Geography</option>
      </select>
    </div>
    <div class="create">
      <button class="create-button" (click)="createQuestion()">Create a multiple-choice
        question</button>
      <span class="span"> or </span>
      <button class="create-button" (click)="createQuestionOne()">Create a question
        with an exact answer</button>
    </div>
  </div>
  <div>
    <div class="question_form">
      <div *ngIf="showCreateForm">
        <label for="question">Question:</label>
        <input type="text" id="question" [(ngModel)]="question">
        <label for="category">Category:</label>
        <select id="category" [(ngModel)]="selectedCategory">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <label>Answers:</label>
        <div *ngFor="let answer of answers; let i = index">
          <input type="text" [(ngModel)]="answer.text">
          <input type="checkbox" [(ngModel)]="answer.isCorrect">
          <button (click)="removeAnswer(i)">Remove Answer</button>
        </div>
        <div style="display: flex; gap: 3px;"> <button (click)="addAnswer()">Add Answer</button>
          <button (click)="submitQuestion()">Submit Question</button>
        </div>

      </div>
      <div *ngIf="single_answer">
        <label for="question">Question:</label>
        <input type="text" id="question" [(ngModel)]="question">
        <label for="category">Category:</label>
        <select id="category" [(ngModel)]="selectedCategory">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <br>
        <div class="answer-container">
          <label>Answer:</label>
          <div *ngIf="istrue"> <button (click)="addAnswer()">Add Answer</button></div>
        </div>
        <div *ngFor="let answer of answers; let i = index">
          <input type="text" [(ngModel)]="answer.text">
          <button (click)="removeAnswer(i)">Remove Answer</button>
          <button (click)="submitQuestion()">Submit Question</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-for-questions">
  <div class="column">
    <h4>Multiple Choice Questions</h4>
    <div *ngFor="let thequestion of questions">
      <div *ngIf="!thequestion.isOneAnswer">
        <div class="question-container">
          <div class="answer-container-left">
            <div class="select"><button class="circle-button" [class.selected]="thequestion.selected"
                (click)="onSelect(thequestion)"></button></div>
            <div>
              <p>{{ thequestion.content }}</p>
              <p> <span class="text_category">category : {{ thequestion.category }}</span></p>
              <div *ngFor="let answer of thequestion.answers; let i = index">
                <span><button>{{ getLabel(i) }}. </button>{{ answer.text }}</span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h4>Single Answer Questions</h4>
    <div *ngFor="let thequestion of questions">
      <div *ngIf="thequestion.isOneAnswer">
        <div class="question-container">
          <div class="answer-container-right">
            <div class="select"><button class="circle-button" [class.selected]="thequestion.selected"
                (click)="onSelect(thequestion)"></button></div>
            <div>
              <p>{{ thequestion.content }}</p>
              <p> <span class="text_category">category : {{ thequestion.category }}</span></p>
              <div>
                <span>This is only a one answer question</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>